div {
    border-radius: 5px;
    background-color: red;
    height: 10px;
    width: 10px;
}

#header {
    position: fixed;
    z-index: 1;
}

.left {
    float: left;
}

.right {
    float: right
}

#footer {
    clear: both
}
